<section class="page page-resume">
	<article>
		<h2>职业自述</h2>
		<p>主攻Web和Mobile前端开发，3年大型网站的前端经验，曾供职于百度（知道、经验、师傅）。负责过多个核心项目，类型涉及但不限于：技术迁移与性能优化、开发脚手架与通用组件、页面重构与改版、开发者平台与数据中心、H5；独立开荒百度师傅Web和Mobile；有简单带人经验。有个人博客和一些简单开源项目。</p>
	</article>

	<article>
		<h2>工作经历</h2>

		<article>
			<h3>百度经验</h3>
			<time datetime="2014-10-01">2014.10</time> - <time datetime="2016-06-30">2016.06</time>
			<p>前端团队负责人&amp;新人导师&amp;资深前端开发</p>

			<h4>JavaScript库架构迁移&amp;升级</h4>
			<ul>
				<li>项目的发起和负责人，从百度JS库Tangram.js迁移到jQuery.js；</li>
				<li>重构公用模块核心代码，清理冗余代码和历史逻辑，逐步完成全站业务模块迁移；</li>
				<li>升级到jQuery后，提高研发效率，降低学习成本，更利于第三方资源的引用和扩展；</li>
				<li>解决因JS库老旧的难以维护扩展、研发效率低下的难题；</li>
				<li>以搜索结果页为例，请求-3，文件大小-25%，DOM加载时间-13%，Load时间-9%。</li>
			</ul>

			<h4>全站模块接入FIS2</h4>
			<ul>
				<li>担任项目负责人，主导核心模块设计和制定总体迁移计划，推动与指导组内同学共同完成；</li>
				<li>解决缺乏性能优化配置、缺乏线下环境和调试困难的问题，保证上线质量。</li>
			</ul>

			<h4>百度经验前端团队负责人</h4>
			<ul>
				<li>担任新同学的导师，帮助熟悉团队业务和技术工具；</li>
				<li>指导T3+同学项目设计和实现方案，定期进行code review；</li>
				<li>根据组内同学的特点和擅长点，安排合适项目和锻炼机会。</li>
			</ul>
		</article>

		<article>
			<h3>百度师傅</h3>
			<time datetime="2015-06-01">2015.06</time> - <time datetime="2015-08-30">2015.08</time>
			<h4>前端开荒&amp;架构设计</h4>
			<ul>
				<li>抗压能力强，一个月内独立完成Web(jQuery)、Mobile(Zepto)、MIS后台3套前端的开发和上线；</li>
				<li>抽象模板和JS组件，解耦、可维护和扩展性强的设计，满足后续业务需求，新同学堆积木式维护和扩展。</li>
			</ul>
		</article>

		<article>
			<h3>百度知道</h3>
			<time datetime="2013-07-01">2013.07</time> - <time datetime="2014-09-30">2014.09</time>

			<h4>百度知道9周年专题页</h4>
			<ul>
				<li>不依赖游戏脚本库，使用jQuery设计和实现场景渲染、鼠键控制、碰撞检测等功能；</li>
				<li>使用animation等CSS3属性实现流畅动画。</li>
			</ul>

			<h4>FIS专题开发脚手架</h4>
			<ul>
				<li>提出并建立开发流程和维护方案，解决专题维护难、零备份的痛点；</li>
				<li>设计并实现脚手架，接入构建工具FIS，统一编码风格和目录，引入JS模块化和LESS，添加文件打包、图片合并等性能优化配置；</li>
				<li>积累常用HTML模板、JS和CSS组件，避免重复造轮子，提高开发效率和可维护性；</li>
				<li>根据不同业务需求，该框架衍生出适合pc和mobile开发的基础模板，拿来即用，在部门内得到广泛应用。</li>
			</ul>
		</article>
	</article>

	<article>
		<h2>专业技能</h2>

		<ul>
			<li>HTML/HTML5</li>
			<li>CSS/CSS3/Less</li>
			<li>JavaScript/jQuery/Zepto</li>
			<li>FIS</li>
			<li>PHP Smarty</li>
		</ul>
	</article>

	<article>
		<h2>教育背景</h2>
		<p>
			<time datetime="2009-09-01">2009.09</time> - <time datetime="2013-06-30">2013.06</time>，华南理工大学，软件工程，本科
		</p>
	</article>

	<article>
		<h2>兴趣爱好</h2>
		<p>对前端开发、打工度假（换宿、环岛、以露营为生）、摄影、唱K、烤鸡翅感兴趣且有一定经验。</p>
	</article>
</article>