<nav class="wgt-header">
    <header class="summary" 
		v-if="deviceClass == 'mobile'"
		@click="toggleShowValue">
		<i class="icon iconfont icon-caidan"></i>
	</header>

	<section class="details" 
		:class="{'show': !isShow}">
		<template v-for="item in list">
    		<router-link 
    			:to="item.path" 
    			exact 
    			@click.native="toggleShowValue">
    			{{ item.title }}
    		</router-link>
    	</template>

    	<a href="http://wuyuying.com?fr=demo" target="_blank">Blog</a>
	</section>
</nav>