@import url(static/css/variable.less);
.page-home{
	margin: 6em auto;
	text-align: center;
	h1{
		text-align: center;
		margin-top: 1em;
	}
	.avatar{
		margin: 0 auto;
		width: 223px;
		img{
			display: inline-block;
			width: 223px;
			height: 223px;
			border-radius: 100%;
		}
	}
	.wgt-social{
		margin-top: 4em;
		ul{
			padding-left: 0;
		}
		li{
			margin-right: 4em;
			display: inline;
			text-align: center;
			&:last-child{
				margin-right: 0;
			}
			a{
				font-size: @h3-font-size;
				color: @base-darker-color;
				&:hover{
					color: @else-color;
				}
			}
		}
	}
}