<section class="page page-home">
	<div class="avatar">
		<img src="http://cdn.sinacloud.net/demo-static/img/avatar.JPG" />
	</div>

	<h1>Hi，I'm 伍酱.</h1>

	<footer class="wgt-social">
		<ul class="clearfix">
			<li>
				<a target="_blank" href="http://wuyuying.com/" class="icon iconfont icon-blog" title="Blog"></a>
			</li>
			<li>
				<a target="_blank" href="http://weibo.com/wuyuying1128" class="icon iconfont icon-weibo" title="Weibo"></a>
			</li>
			<li>
				<a target="_blank" href="https://www.douban.com/people/wuyuying1128/" class="icon iconfont icon-douban" title="Douban"></a>
			</li>
		</ul>
	</footer>
</section>