.page-home{
	margin: 6em auto;
	h1{
		text-align: center;
		font-size: 2.5em;
		margin-top: 1em;
	}
	.avatar{
		margin: 0 auto;
		width: 223px;
		img{
			width: 223px;
			border-radius: 100%;
		}
	}
}