<ul class="nav nav-justified nav-pills">
    <li role="presentation" ui-sref-active="active">
        <a ui-sref="/"><i class="fa fa-home"></i>&nbsp;Home</a>
    </li>
    <li role="presentation" ui-sref-active="active">
        <a ui-sref="qrcode"><i class="fa fa-qrcode"></i>&nbsp;QRCode</a>
    </li>
    <li role="presentation" ui-sref-active="active">
        <a ui-sref="snowball"><i class="fa fa-dollar"></i>&nbsp;Snowball</a>
    </li>
    <li role="presentation">
        <a href="http://www.wuyuying.com/"><i class="fa fa-edit"></i>&nbsp;Blog</a>
    </li>
</ul>
